node_modules
.env
.env.*
!.env.example
!.env.*.example

# Docker env secrets
docker/.env
docker/.env.api
docker/.env.engine

# Build
dist
.next

# Python
__pycache__
*.pyc
.venv

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# cloudflare / opennext
/apps/web/.open-next/
/apps/web/.wrangler/